

div.banner__stepswitcher(data-ng-click="banner.switchstep(-1)", data-ng-class="{'banner__stepswitcher--disabled': !banner.steps[banner.activeStep-1].states.valid}")
div.banner__stepswitcher.banner__stepswitcher--right(data-ng-click="banner.switchstep(1)", data-ng-class="{'banner__stepswitcher--disabled': !banner.steps[banner.activeStep].states.valid}")

//div.banner__step(data-ng-class="{'banner__step--show':banner.checkstep(0), 'banner__step--done':banner.steps[0].states.valid}")
div.banner__step(data-ng-class="{'banner__step--show':banner.checkstep(0), 'banner__step--done':banner.activeStep > 0}")
	div.center.center--stretch.center--horizontal.center--column
		div.grid.grid--24.grid--spacebottom
			div.grid.grid--8.grid--spaceright
				strong Afrejse og destination
			div.grid.grid--16.grid--spaceleft
				strong Destinations land og by
		//form.form(name="locationForm", novalidate, data-ng-submit="banner.formvalidate('locationForm', banner.switchstep(1))")
		form.form(name="locationForm", novalidate, data-ng-submit="locationForm.$valid && banner.setStepValidation(0, true, true)")

			div.grid.grid--8.grid--spaceright
				select.form__select(required, name="departureLocation", data-ng-model="formdata.departureLocation")
					option.form__option(value="") Hvor vil du rejse fra
					option.form__option(data-ng-repeat="departure in banner.departures", data-ng-value="departure.id", data-ng-bind="departure.name")

			div.grid.grid--6.grid--spaceleft.grid--spaceright
				//input.form__input(type="text", placeholder="Hvor vil du hen?")
				select.form__select(required, name="destianationCountry", data-ng-model="formdata.destianationCountry")
					option.form__option(value="") Land
					option.form__option(data-ng-repeat="destination in banner.destinations", data-ng-value="destination.name", data-ng-bind="destination.name")

			div.grid.grid--6.grid--spaceleft.grid--spaceright
				select.form__select(required, name="destianationTown", data-ng-model="formdata.destianationTown", data-ng-disabled="locationForm.destianationCountry.$invalid")
					option.form__option(value="") By
					option.form__option(data-ng-repeat="town in banner.getTowns(formdata.destianationCountry)", data-ng-value="town.id") {{town.name}}

			div.grid.grid--4.grid--spaceleft
				input.form__button(type="submit", value="Videre", data-ng-disabled="locationForm.$invalid")


div.banner__step(data-ng-class="{'banner__step--show':banner.checkstep(1), 'banner__step--done':banner.activeStep > 1}")
	div.center.center--stretch.center--horizontal.center--column
		form.form(name="dateForm", novalidate, data-ng-submit="dateForm.$valid && banner.setStepValidation(1, true, true)")

			div.grid.grid--24.grid--spacebottom
				div.grid.grid--10.grid--spaceright
					strong Udrejse

				div.grid.grid--10.grid--spaceleft.grid--spaceright
					strong Hjemrejse

			div.grid.grid--24
				div.grid.grid--6.grid--spaceright
					select.form__select(required, name="departureMonth", data-ng-model="formdata.departureMonth")
						option.form__option(value="", selected) Måned
						option.form__option(data-ng-repeat="month in banner.dates", data-ng-value="month.index") ({{month.year}}) {{month.name}}

				div.grid.grid--4.grid--spaceright
					select.form__select(required, name="departureDate", data-ng-model="formdata.departureDate", data-ng-disabled="dateForm.departureMonth.$invalid")
						option.form__option(value="", selected) Dag
						option.form__option(data-ng-repeat="date in banner.dates[formdata.departureMonth].dates", data-ng-value="date") {{date}}

				div.grid.grid--6.grid--spaceleft.grid--spaceright
					select.form__select(required, name="returnMonth", data-ng-model="formdata.returnMonth")
						option.form__option(value="", selected) Måned
						option.form__option(data-ng-repeat="month in banner.dates", data-ng-value="month.index") ({{month.year}}) {{month.name}}

				div.grid.grid--4.grid--spaceright
					select.form__select(required, name="returnDate", data-ng-model="formdata.returnDate", data-ng-disabled="dateForm.returnMonth.$invalid")
						option.form__option(value="", selected) Dag
						option.form__option(data-ng-repeat="date in banner.dates[formdata.returnMonth].dates", data-ng-value="date") {{date}}

				div.grid.grid--4.grid--spaceleft
					input.form__button(type="submit", value="Videre", data-ng-disabled="dateForm.$invalid")


div.banner__step(data-ng-class="{'banner__step--show':banner.checkstep(2), 'banner__step--done':banner.activeStep > 2}")
	div.center.center--stretch.center--horizontal.center--column
		form.form(name="roomForm", novalidate, data-ng-submit="roomForm.$valid && banner.send()")

			div.grid.grid--24.grid--spacebottom
				div.grid.grid--6.grid--spaceright
					strong Antal voksne

				div.grid.grid--7.grid--spaceleft.grid--spaceright
					strong Antal spædbørn (0-2 år)
				div.grid.grid--7.grid--spaceleft
					strong Antal børn (+2år)

			div.grid.grid--24
				div.grid.grid--6.grid--spaceright
					select.form__select(required, name="roomAdults", data-ng-model="formdata.roomAdults", data-ng-init="formdata.roomAdults = '2'")
						option.form__option(value="1") 1 voksen
						option.form__option(value="2", selected) 2 voksen
						- for (var i=3;i<=9;i++)
							option.form__option(value="#{i}") #{i} voksne

				div.grid.grid--7.grid--spaceleft.grid--spaceright
					select.form__select(required, name="roomInfants", data-ng-model="formdata.roomInfants", data-ng-init="formdata.roomInfants = '0'")
						option.form__option(value="0", selected) 0 spædbørn
						option.form__option(value="1") 1 spædbarn
						- for (var i=2;i<=4;i++)
							option.form__option(value="#{i}") #{i} spædbørn
				div.grid.grid--7.grid--spaceleft
					select.form__select(required, name="roomKids", data-ng-model="formdata.roomKids", data-ng-init="formdata.roomKids = '0'")
						option.form__option(value="0", selected) 0 børn
						option.form__option(value="1") 1 barn
						- for (var i=2;i<=4;i++)
							option.form__option(value="#{i}") #{i} børn


				div.grid.grid--4.grid--spaceleft
					input.form__button(type="submit", value="Søg rejse", data-ng-disabled="roomForm.$invalid", data-ng-show="banner.lastStep === 2")
					input.form__button(type="submit", value="Videre", data-ng-disabled="roomForm.$invalid", data-ng-show="banner.lastStep !== 2")
